@import '../../config';

.shading{
  display: none;
  background: rgba(41, 41, 41, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  &.visible{
      display: block;
  }    
}
.modal{    
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: $colorBg;
  border-radius: 9px;
  padding:50px;
  display: flex;
  flex-direction: column;

  &.hidden {
    display: none;
  }
}

#auth_form {
  display: flex;
  flex-direction: column;
  
  &.hidden {
    display: none;
  }
}

.auth_modal {
  input, button {
    margin:5px 0;    
    padding: 12px 42px;
    border: 2px solid $colorActive;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $colorText;
  }

  button {
    transition:0.25s;

    &:hover {
      background: $colorActive;
      color: $colorTextBtn;
      cursor: pointer;
    }

    &#logout {
      margin: 5px auto;
    }
  }

  .error {
    text-align: center;
    color: $colorActive;
  } 
}
