@import '../config';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  font-size: 0.8rem;

  .menu {
    .nav_list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .nav_item {
      padding: 0 15px;
    }

    button {
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      cursor: pointer;
    }

    .nav_link {
      position: relative;
      text-decoration: none;
      color: $colorText;
      line-height: 50px;
      transition: $transition-hover;

      &:hover {
        color: $colorHover;
      }

      &:active {
        color: $colorActive;
        border-bottom: 3px solid $colorActive;
        padding-bottom: 3.5px;
        transition: .2s;
      }

      &.active {
        color: $colorActive;
        border-bottom: 3px solid $colorActive;
        padding-bottom: 3.5px;
      }

      &.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }
    }

  }
}

.main {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .greeting {
    display: flex;
    margin-bottom: 60px;

    h1 {
      margin-right: 10%;
      margin-left: 10%;
      font-size: 2.8rem;
      font-weight: 700;
      text-align: right;
      align-self: center;
    }

    img {
      width: 40%;
    }
  }

  .title {
    padding-bottom: 40px;
    font-size: 2rem;
    text-align: center;
  }

  .benefits,
  .about-us {
    margin-bottom: 60px;

    .benefits__cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 60px;
    }

    .benefit__card {
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      text-align: center;
    }

    .benefit__card:hover {
      cursor: pointer;
    }

    .benefit__card-title {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      color: $colorText;
    }

    .button {
      padding: 12px 42px;
      border: 2px solid $colorActive;
      border-radius: 100px;
      background-color: inherit;
      cursor: pointer;
      font-weight: inherit;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $colorText;
      transition: 0.25s
    }

    .benefit__card:hover .button {
      background: $colorActive;
      color: $colorTextBtn;
      transition: 0.25s;
    }
  }

  .developer-container {
    width: 80%;

    .developer__card {
      display: flex;
      padding: 20px;
      align-items: center;
      text-align: justify;

      .developer__img {
        max-width: 200px;
        border-radius: 50%;
        padding: 20px;
      }
    }
  }
}

.footer {
  padding: 20px 0;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-size: 1rem;

  img {
    width: 8rem;
    transition: $transition-hover;

    &:hover {
      transform: scale(1.1);
    }
  }
}



@media (max-width: 768px) {
  .header {
    justify-content: flex-end;
    padding-right: 5%;
  }

  .menu {
    width: 100%;
    height: 100%;
    background-color: $colorBg;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    transform: translateX(100%);
    transition: .2s all linear;
  }

  .menu.open {
    transform: translateX(0);
  }

  .nav_list {
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .nav_link {
    font-size: 32px;
    line-height: 160%;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    cursor: pointer;
    z-index: 2;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: $colorActive;
    margin: 5px 0;
    z-index: 15;
    transition: $transition-hover;
  }

  .burger.open {
    position: fixed;
    right: 53px;
    z-index: 15;
  }

  .burger.open .line1 {
    transform: translate(0px, 13px) rotate(-45deg);
  }

  .burger.open .line2 {
    opacity: 0;
  }

  .burger.open .line3 {
    transform: translate(0px, -11px) rotate(45deg);
    ;
  }

  .greeting {
    justify-content: center;
    flex-wrap: wrap;
  }
}