.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  font-size: 0.8rem;
}

.header .menu .nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .menu .nav-item {
  padding: 0 15px;
}

.header .menu .nav-link {
  position: relative;
  text-decoration: none;
  color: var(--color-white);
  line-height: 50px;
  transition: .3s;
}

.header .menu .nav-link:hover {
  color: var(--color-gold);
}
